@font-face {
    font-family: 'Hanken';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken', sans-serif;
}

/* Body Background  */
body{
    background: linear-gradient(to bottom, 
        hsl(0, 0%, 100%), 
        hsl(221, 100%, 96%), 
        hsl(241, 100%, 89%), 
        hsla(224, 30%, 27%, 0.1));
}

/* Container Style values */
.container {
    max-width: 1440px;
    width: 60vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 20vw;
    border: 0px;
    border-radius: 5%;
    background: white;
    display: flex;
}

/* Score Part - Left Side of the design */
.score {
    width: 50%;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border: 0px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header {
    font-size: 2vw;
    color: hsla(0, 0%, 100%,0.5);
    text-align: center;
    margin-top: 1rem;
    width: auto;
}

.percentage {
    width: 50%;
    height: 40%;
    margin: 0 auto;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));  
    font-size: 3vw; 
    border: 0;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overall {
    font-size: 5vw;
    padding-bottom: 1rem;
    color: white;
}

.outof {
    font-size: 1.2vw;
    margin-top: -1.2rem;
    color: hsla(0, 0%, 100%,0.5);
}

.state {
    color: white;
    margin: 0 auto;
    font-size: 2.5vw;
    margin-top: -1.5vw;
    margin-bottom: -1vw;
    width: auto;
}

.explanation {
    
    font-family: 'Hanken-extrabold', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.5vw; 
    max-width: 70%;
    color: hsla(0, 0%, 100%,0.5);
    margin: 0 auto;
    margin-bottom: 3vw; 
    width: auto;
}


/* Summary part - right side of the design*/

.summary{
    width: 50%;
    border: 0px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sumheader{
    font-size: 2vw;
    color: black;
    margin-top: 5%;
    margin-left: 10%;
}

.features{
    width: 80%;
    height: 12%;
    margin-left: 10%;
    margin-bottom: -2%;
    display: flex;
    border: 0;
    border-radius: 15px;
    align-items: center;
    font-size: large;
    
}

#sumfigure{
    margin-top: 1%;
    flex-grow: 1;
    margin-left: 8%;
}

#text{
    font-size: 1.5vw;
    flex-grow: 3;
    margin-left: -9%;
}

.percent{
    display: flex;
    margin-right: 5%;
}

#sumpercentage{
    flex-grow: 1;
    font-size: 1.5vw;
}

#per100{
    color: grey;
    font-size: 1.5vw;
}

/* Continue Button */
.button {
    width: 80%;
    height: 12%;
    margin-left: 10%;
    margin-bottom: 3vh;
    margin-top: 2vh;
    font-size: 1.5vw;
    border: 0;
    border-radius: 10% / 50%;
    background-color: hsl(224, 30%, 27%);
    color: white;
    text-align: center;
}

.button:hover{
    background-color: hsl(241, 81%, 54%);
}

/* When the width less than 376px for mobile devices */

@media (max-width: 376px){
    .header{
        margin-top: 2vw;
        font-size: 5vw;
    }
    .percentage{
        width: 35%;
        height: 45%;
        border: 0;
        border-radius: 50%;
    }
    .overall{
        font-size: 15vw;
    }
    .outof, .state, .explanation{
        font-size: 3vw;
    }
    .state{
        font-size: 5vw;
    }
    .explanation{
        font-size: 4vw;
        max-height: 10%;
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 5vw; 
    }
    .container{
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .score{
        border-radius: 0 0 25px 25px;
        height: 40vh;
        width: 100vw;
    }
    .summary{
        height: 60vh;
        width: 100vw;
    }
    .sumheader, #text, #sumpercentage, #per100, .button {
        font-size: 18px;
    }
}
